{% extends "admin/base_site.html" %}

{% block content %}
  <h1>Download Sensor Data by Date Range for Selected Sensors</h1>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="action" value="manage_sensor_data">
    {% for item in queryset %}
    <input type="hidden" name="_selected_action" value="{{ item.pk }}">
    {% endfor %}

    <button type="submit" name="plot_selected_data">Plot</button>
    <button type="submit" name="delete_selected_data">Delete</button>
    <button type="submit" name="download_selected_data">Download</button>
  </form>
  {% if plot %}
  <h2>Sensor Data Plot</h2>
  <img src="data:image/png;base64,{{ plot }}" alt="Sensor Data Plot">
  {% endif %}
{% endblock %}